{% extends 'base.html' %}

{% block content %}
  <h2>Статусы</h2>
  <a class="btn btn-primary mb-3" href="/statuses/">Создать статус</a>
  <table class="table table-bordered table-hover table-dark text-nowrap" data-test="urls">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'user_update' user.pk %}" style="text-decoration: none; color: #7bd5ff;">Изменить</a>
            <a href="{% url 'user_delete' user.pk %}" style="text-decoration: none; color: #7bd5ff;">Удалить</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
