{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <h1 class="my-4">Регистрация</h1>
<div class="container">
    <form action="{% url "user_create" %}" method="post">
        {% csrf_token %}
        <div class="mb-3 row">
            {% bootstrap_form form %}
        </div>
        <div class="mb-3 row">
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary">Зарегистрировать</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}