{% extends 'base.html' %}
{% block content %}
<h2 class="my-4">Метки</h2>

<p class="lead">
  {% if user.is_authenticated %}
  <a href="{% url 'labels_create' %}" class="btn btn-primary btn-secondary fw-bold border-white bg-white">Создать метку</a>
  {% endif %}
</p>

<table class="table table-bordered table-hover table-dark text-nowrap" data-test="urls">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  {% for label in labels %}
    <tr>
      <td>{{ label.id }}</td>
      <td>{{ label.name }}</td>
      <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
      <td>
        <a href="{% url 'labels_update' label.pk %}" style="text-decoration: none; color: #7bd5ff;">Изменить</a>
        <br>
        <a href="{% url 'labels_delete' label.pk %}" style="text-decoration: none; color: #7bd5ff;">Удалить</a>
      </td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}