{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

</head>
<body class="d-flex h-100 text-center text-white bg-dark"> 
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"><a class="nav-link" href="{% url 'index' %}">Менеджер задач</a></h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{% url 'user_list' %}">Пользователи</a>
        <a class="nav-link" href="#">Вход</a>
        <a class="nav-link" href="#">Регистрация</a>
      </nav>
    </div>
  </header>
  {% block content %}{% endblock %}
  <footer class="mt-auto text-white-50">
    <p>by <a href="https://github.com/qffo" target="_blank"  class="text-white">Viktor Romanov</a></p>
  </footer>
</div>
</body>
</html>
