{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Менеджер задач{% endblock %}</title>
  </head>
  
<body class="d-flex h-100 text-center text-white bg-dark"> 
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"><a class="nav-link" href="{% url 'index' %}">Менеджер задач</a></h3>

      <nav class="nav nav-masthead justify-content-center float-md-end">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'user_update' user.pk %}" style="text-decoration: none; color: #7bd5ff;">👤 {{ user.username }}</a>
        <a class="nav-link" href="{% url 'status_list' %}">Статусы</a>
        {% endif %}
        <a class="nav-link" aria-current="page" href="{% url 'user_list' %}">Пользователи</a>
        {% if not user.is_authenticated %}
          <a class="nav-link" href="{% url 'login' %}">Вход</a>
          <a class="nav-link" href="{% url 'user_create' %}">Регистрация</a>
        {% else %}

        <form class="ms-3" method="post" action="{% url 'logout' %}" >
          {% csrf_token %}
          <button type="submit" class="nav-link">Выход</button>
        </form>
        {% endif %} 
      </nav>
    </div>
  </header>

  {% bootstrap_messages %}

  {% block content %}{% endblock %}
  
  <footer class="mt-auto text-white-50">
    <p>by <a href="https://github.com/qffo" target="_blank"  class="text-white">Viktor Romanov</a></p>
  </footer>
</div>
</body>
</html>
  