{% extends 'base.html' %}

{% block content %}
  <h2 class="my-4">Пользователи</h2>
  <table class="table table-bordered table-hover table-dark text-nowrap" data-test="urls">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'user_update' user.pk %}" style="text-decoration: none; color: #7bd5ff;">Изменить</a>
            <a href="{% url 'user_delete' user.pk %}" style="text-decoration: none; color: #7bd5ff;">Удалить</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
